body {
    font-family: cursive;
    line-height: 2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5f1f1;
    color: #1a1717;
    padding: 20px;
}


.section-container {
    padding: 20px;
}

.section-header {
    margin-bottom: 20px;
}

.section-header div {
    margin: 10px;
    text-align: center;
}

.section-header ul {
    list-style-type: none;
    padding: 0;
}

.section-header h2 {
    text-decoration: underline;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    list-style: none;
}


.social-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 0 10px;
}


.social-links img {
    width: 50px;
    height: 50px;
}






nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
nav ul li a:hover {
    color: rgb(15, 15, 15); /* Change to your desired hover color */
}
.section-container {
            
            size: 100%;
            background-color: #d6d1d1;
        }
.section-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
